.vscode/**
.git/**
.gitignore
.DS_Store
node_modules/**
!node_modules/
!node_modules/monaco-editor/
node_modules/monaco-editor/**
!node_modules/monaco-editor/min/
!node_modules/monaco-editor/min/**
!node_modules/monaco-editor/package.json
!node_modules/monaco-editor/LICENSE
!node_modules/monaco-editor/ThirdPartyNotices.txt
node_modules/monaco-editor/dev/**
node_modules/monaco-editor/esm/**
node_modules/monaco-editor/min-maps/**
node_modules/monaco-editor/monaco.d.ts
node_modules/monaco-editor/README.md
node_modules/monaco-editor/CHANGELOG.md
src/**
out/test/**
syntaxes/*.yaml
tsconfig.json
package-lock.json
*.vsix
